<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>brill.wtf</title>
  <meta name="description" content="A simple URL shortener.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A simple url shortener">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="brill wtf">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/assets/favicon.ico">
  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div>
        {{ .Short }} is not a valid URL.
  </div>
  <script src="js/scripts.js"></script>
</body>
</html>
